@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    font-family: Poppins;
}

/* CONFIGURAÇÕES DE TEXTO */
.text-sx {
    font-size: 0.75rem;
    /* 12px */
}

.text-sm {
    font-size: 0.875rem;
    /* 14px */
}

.text-base {
    font-size: 1rem;
    /* 16px */

}

.text-lg {
    font-size: 1.125rem;
    /* 18px */
}

.text-xl {
    font-size: 1.25rem;
    /* 20px */
}

.text-2xl {
    font-size: 1.5rem;
    /* 24px */
}

.text-3xl {
    font-size: 2.25rem;
    /* 36px */
}

/* AVALIAÇÃO */
.avaliacao-card {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 0.75rem;
}

.estrela {
    color: #FFD600;
    margin: 5px;
}

/* CABEÇALHO */
#header {

    padding: 1rem 5rem;
    color: #FFFFFF; 
    min-height: 30em;
}

/* NAVBAR */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#pesquisa {
    width: 20em;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    border-radius: 4px;


}

.busca {
    color: #FFFFFF;
    font-size: 1rem;

}

input {
    background-color: transparent;
    color: #FFFFFF;
    border: 0px;
    height: 24px;
    font-size: 1rem;
}

input::placeholder {
    color: #eaeaea;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* FILME DESTAQUE */
#filme-destaque {
    max-width: 40em;
    margin: 4em 0em;
   

}



/* BODY */
#body {
    margin: 0rem 5rem;

}

.cards-filme, .cards-program {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;

}

.card {
   
    max-width: 200px;
    max-height: 450px;
    overflow: hidden;
    border-radius: 4px;
}

.card img {
    display: inline-block;
    width: 100%;
    min-height: 299px;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;

}
.info-card{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.titulo-cards {
    font-size: 2rem;
    margin: 2rem 0rem;

}
.titulo-card{
    line-height: 103%;
}

 #body .num-card{
    color: #8C8C8C;
    font-size: 0.75rem;

}

.genero-card{
    font-size: 0.75rem;
    color: #8C8C8C;
}

