@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    font-family: Poppins;

}

a {
    text-decoration: none;
    color: black;
}

/* AVALIAÇÃO */
.classificacao {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 0.75rem;
}

.estrela {
    color: #FFD600;
    margin: 5px;
}


/* CABEÇALHO */
.header {

    color: #FFFFFF;

}

/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 1em 2em; */

}

.logo img {
    max-height: 24px;
}

.div-logo-menu {

    display: flex;
    flex-direction: row;
    gap: 2em;
}

#menu {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.link-menu {

    color: #ffffff;
    font-weight: 500;

}

button {
    background-color: transparent;
    border: 0px;
}

.busca {
    color: #eaeaea;
    font-size: 1rem;
}

.barra-pesquisa {
    /* width: 20em; */
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    border-radius: 10px;


}



input {
    background-color: transparent;
    color: #FFFFFF;
    border: 0px;
    height: 24px;
    font-size: 1rem;
}

input::placeholder {
    color: #eaeaea;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* Detalhes do Filme */
.infos {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.detalhes {

    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 5em; */


    /* margin: 4em 0em; */



}

.cartaz {
    max-width: 300px;
    border-radius: 10px;

}

.cartaz img {
    width: 100%;
    min-height: 299px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.titulo {
    font-size: 36px;
    font-weight: 800;
}

.data-genero {
    display: flex;
    flex-direction: row;
    gap: 12px;

    margin-right: 3em;
    font-size: 14px;
    font-weight: 300;
}

.classificao-indicativa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    padding: 0px 6px;

    font-size: 12px;
    font-weight: 500
}

.sinopse {
    font-weight: 400;
    font-size: 16px;
  
}

.body {
    padding: 2em 3em;
}

/* BODY - CARDS ATORES */
.titulo-elenco {
    font-size: 1.5em;
    font-weight: 700;
}

.cards-elenco {
    display: flex;
    flex-direction: row;
    gap: 2em;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 2em 0em;
}

.cards-elenco::-webkit-scrollbar {
    height: 6px;

}

.cards-elenco::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 12px;
}

.card img {
    max-width: 175px;
    border-radius: 12px;
}

.nome-ator {
    font-weight: 700;
    font-size: 18px;
}

.nome-personagem {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #8C8C8C;
}

@media screen and (min-width: 320px) and (max-width: 650px) {

    .header {

        padding: 1em 2em;
        gap: 1em;

    }

    .navbar {
        display: flex;
        flex-direction: column;
        /* padding: 2em; */
        gap: 1em;
    }

    .div-logo-menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .link-menu {
        font-size: 12px;
    }

    .logo img {
        max-height: 20px;
    }

    .barra-pesquisa {
        width: 100%;
        max-height: 32px;
        border-radius: 10px;

    }

    input {
        width: 100%;
        font-size: 14px;
    }

    .detalhes {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    
    }

    .cartaz img{
        max-width: 200px;
        margin: 1em;
    }

    .titulo{
        font-size: 24px;
    }
    .sinopse{
        font-size: 16px;
        font-weight: 400;
    }

    .data-genero{
      font-size: 14px;
      margin: 5px 0px;
     
    }

    .body{
        padding: 2em;
    }

    .card img {
        max-width: 150px;
        border-radius: 12px;
    }

    .titulo-elenco{
        font-size: 20px;
    }
    .cards-elenco{
        margin: 1em 0em;
    }
    .nome-ator{
        font-size: 16px;
    }

 


}

@media screen and (min-width: 650px) and (max-width:1024px){
  .header{
    padding: 1em 3em;
  }

  .link-menu {
    font-size: 14px;
}

  .detalhes{
    padding: 2em 0em;
    gap: 2em;
  }

  .cartaz img{
    width: 200px;
  }

  .titulo{
    font-size: 28px;
  }



  @media screen and (min-width: 768px) {
    .barra-pesquisa{
        width: 300px;
    }
}
}

@media screen and (min-width: 1024px) {
    .header{
        padding: 1em 5em;
    }

    .barra-pesquisa{
        width: 350px;
    }

    .detalhes{
        padding: 3em 0em;
        gap: 3em;
    }

    .cartaz img{
        width: 275px;
    }
}