@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    font-family: Poppins;
}

a {
    text-decoration: none;
    color: black;
}



/* CONFIGURAÇÕES DE TEXTO */
.text-sx {
    font-size: 0.75rem;
    /* 12px */
}

.text-sm {
    font-size: 0.875rem;
    /* 14px */
}

.text-base {
    font-size: 1rem;
    /* 16px */

}

.text-lg {
    font-size: 1.125rem;
    /* 18px */
}

.text-xl {
    font-size: 1.25rem;
    /* 20px */
}

.text-2xl {
    font-size: 1.5rem;
    /* 24px */
}

.text-3xl {
    font-size: 2.25rem;
    /* 36px */
}

/* AVALIAÇÃO */
.avaliacao-card {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 0.75rem;
}

.estrela {
    color: #FFD600;
    margin: 5px;
}

/* CABEÇALHO */
#header {

    padding: 1rem 5rem;
    color: #FFFFFF;

    background-color: black;
}

/* NAVBAR */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    max-height: 24px;
}

button {
    background-color: transparent;
    border: 0px;
}

.busca {
    color: #ffffff;
    font-size: 1rem;
}

.pesquisa {
    width: 20em;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    border-radius: 10px;


}


input {
    background-color: transparent;
    color: #FFFFFF;
    border: 0px;
    height: 24px;
    font-size: 1rem;
    width: 100%;
}

input::placeholder {
    color: #eaeaea;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.body {
    margin: 0rem 5rem;
}

.titulo {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 2em 0em;
}

/* Card-pesquisa */

.resultados {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.card-result {
    display: flex;
    flex-direction: row;
    gap: 2em;
    /* max-height: 250px; */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.poster img {
    max-height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 1em;
    gap: 2em;
    align-content: center
}

.titulo-card {
    font-size: 1.25em;
    font-weight: 700;
}

.data-lancamento {
    font-weight: 500;
    font-size: 14px;
    color: #8C8C8C;
}

#paginacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin: 2em 0em;

    font-size: 14px;
}

#paginacao button {
    background-color: #ededed;
    border-radius: 5px;
    min-width: 50px;
    font-weight: 400;
    font-size: 16px;
}

@media screen and (min-width:320px) and (max-width:425px) {

    #header {
        padding: 1em;

    }

    #navbar {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .logo img {
        max-height: 20px;
    }

    .div-pesquisa{
        width: 100%;
    }

    .pesquisa{
        width: 100%;
    }

    .body {
        margin: 1em;
    }

    .titulo{
        margin: 1em 0em;
    }

    .resultados {
        gap: 1em;
    }

    .card-result {
        display: flex;
        flex-direction: column;
        gap: 1px;
        align-items: center;
        padding: 1em;
    }

    .info{
        gap: 1em;
    }

    .sinopse {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    
}

@media screen {
    
}